<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint
        name="NumBingoEndpoint"
        address="net.tcp://localhost:14000/TestLibrary/NumBingo"
        binding="netTcpBinding"
        contract="TestLibrary.IPlayerTurn" />
    </client>
  </system.serviceModel>
</configuration>